<?xml version="1.0"?>
<ruleset>
	<!-- Use HM Coding Standards -->
	<rule ref="vendor/humanmade/coding-standards" />
	<rule ref="WordPress">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="HM.Files.FunctionFileName.WrongFile" />
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop" />
	</rule>
	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
</ruleset>
