<?xml version="1.0"?>
<ruleset>
	<!-- Use HM Coding Standards. -->
	<rule ref="HM">
		<exclude name="WordPress.Files.FileName.InvalidClassFileName" />
		<exclude name="HM.Files.FunctionFileName.WrongFile" />
		<!-- This rule precludes verbosely documenting array parameters. -->
		<exclude name="Squiz.Commenting.FunctionComment.ParamCommentFullStop" />
		<!-- We use / namespacing in our hooks. -->
		<exclude name="WordPress.NamingConventions.ValidHookName.UseUnderscores" />
	</rule>

	<!-- Permit tests to omit function comments. -->
	<rule ref="Squiz.Commenting.FunctionComment.Missing">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>

	<!-- Permit tests to align data provider arrays for readability. -->
	<rule ref="WordPress.Arrays.CommaAfterArrayItem.SpaceAfterComma">
		<exclude-pattern>*/tests/*</exclude-pattern>
	</rule>
</ruleset>
