<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
>
	<php>
		<env name="APPLICATION_ENV" value="development"/>
	</php>

	<testsuites>
		<testsuite name="ProposeDraftDate">
			<directory prefix="class-test-" suffix=".php">tests</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">inc</directory>
		</whitelist>
	</filter>
</phpunit>
